@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import 'bootstrap/dist/css/bootstrap.min.css';
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}